*.pyc
*.pyo
*~

/data/
/litecoin_scrypt/build/
/_trial_temp*
Makefile.local
.cache/
.pkg/
.coverage
build/
ltc_scrypt.so
/startp2pool_einsteinium.sh
/startp2pool_testnet_einsteinium.sh
/startp2pool_testnet.sh
/startp2pool.sh
